/* 作品集 */
.portfolio {
    max-width: 1000px;
  margin: 0 auto;
}
.project-item{
    margin-bottom: 50px;
}


.project-img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
}
.project-title {
  font-size: 24px;
  margin: 10px 0;
  font-weight: bold;
}

.link {
  margin-bottom: 10px;
}
.link a {
  color: rgb(20, 86, 230);
}
@media screen and (max-width: 430px) {
}
